@import "../library.blocks/breakpoints";
@import "./colors";
@import "./fonts";

.card {
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 33rem;

    margin-top: 0;
    margin-left: 0;
    opacity: 1;

    @media screen and (min-width: $large) {
        flex-direction: row;
        width: 73rem;
    }

    &__img {
        display: block;
        height: 20rem;
        object-fit: cover;
        object-position: 50% 26%;
        width: 100%;

        @media screen and (min-width: $large) {
            height: 28rem;
            object-position: left 26%;
            width: 28.4rem;
        }
    }

    &__txt-col {
        padding: 3.5rem 3.5rem 2.1rem 3.3rem;

        @media screen and (min-width: $large) {
            padding: 3.1rem 4rem 2.1rem 4.2rem;
        }
    }

    &__headline {
        @include font(1.64rem, $bold-weight);
        color: $very-dark-grayish-blue;
        line-height: 1.48;
        margin: 0 0 1.3rem;

        @media screen and (min-width: $large) {
            @include font(2.05rem, $bold-weight);
            line-height: 1.4;
            margin: 0 0 1.2rem;
        }
    }

    &__copy {
        @include font(1.2rem, $medium-weight);
        color: $desaturated-dark-blue;
        letter-spacing: 0.062rem;
        line-height: 1.65;
        margin: 0 0 3.2rem;

        @media screen and (min-width: $large) {
            letter-spacing: 0.056rem;
            line-height: 1.67;
            margin: 0 0 1.9rem;
        }
    }

    &__author-row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    &__author-avatar-wrapper {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin-right: -4.4rem;
        overflow: hidden;
        width: 4rem;

        @media screen and (min-width: $large) {
            margin-right: -14.6rem;
        }
    }

    &__author-avatar {
        display: block;
        height: auto;
        width: 100%;
    }

    &__author-col {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        justify-content: center;
    }

    &__author-name {
        @include font(1.25rem, $bold-weight);
        color: $very-dark-grayish-blue;
        letter-spacing: 0.03rem;
    }

    &__date {
        @include font(1.25rem, $medium-weight);
        color: $grayish-blue;
        letter-spacing: 0.03rem;
    }

    &__share-wrapper {
        align-items: center;
        background-color: $light-grayish-blue;
        border-radius: 50%;
        display: flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
    }

    &__share {
        display: block;
        height: auto;
        width: 1.35rem;
    }

}