@import "../library.blocks/breakpoints";
@import "./fonts";

.card {
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    opacity: 0.75;
    width: 33rem;

    @media screen and (min-width: $large) {
        flex-direction: row;
        width: 73rem;
    }

    &__img-wrapper {
        height: 20rem;
        width: 33rem;

        @media screen and (min-width: $large) {
            height: 28rem;
            width: 28.4rem;
        }
    }

    &__img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: 50% 26%;
        width: 100%;
    }

    &__txt-col {
        padding: 3.5rem 3.5rem 2.1rem 3.3rem;
    }

    &__headline {
        @include font(1.64rem, $bold-weight);
        line-height: 1.48;
        margin: 0 0 1.3rem;
    }

    &__copy {
        @include font(1.2rem, $medium-weight);
        letter-spacing: 0.062rem;
        line-height: 1.65;
        margin: 0 0 3.2rem;
    }

    &__author-row {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    &__author-avatar-wrapper {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin-right: -4.4rem;
        overflow: hidden;
        width: 4rem;
    }

    &__author-avatar {
        display: block;
        height: auto;
        width: 100%;
    }

    &__author-col {
        display: flex;
        flex-direction: column;
    }

    &__author-name {
        @include font(1.25rem, $bold-weight);
        letter-spacing: 0.03rem;
        margin-bottom: 0.03rem;
    }

    &__date {
        @include font(1.25rem, $medium-weight);
        letter-spacing: 0.03rem;
    }

    &__share-wrapper {
        align-items: center;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
    }

    &__share {
        display: block;
        height: auto;
        width: 1.35rem;
    }

}