/* These breakpoints match with those of Bootstrap.*/
.card-wrapper {
  align-items: start;
  box-sizing: border-box;
  background-image: url("../design/mobile-design.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 7.4rem;
}
@media screen and (min-width: 992px) {
  .card-wrapper {
    background-image: url("../design/desktop-design.jpg");
    padding-top: 26rem;
  }
}