html {
    font-size: 62.5%;
  }

.page {
  margin: 0;
}
.card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.attribution {
    text-align: center;
}

/* These breakpoints match with those of Bootstrap.*/
.card {
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 33rem;
  margin-top: 0;
  margin-left: 0;
  opacity: 0.7;
}
@media screen and (min-width: 992px) {
  .card {
    flex-direction: row;
    width: 73rem;
  }
}
.card__img {
  display: block;
  height: 20rem;
  object-fit: cover;
  object-position: 50% 26%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .card__img {
    height: 28rem;
    object-position: left 26%;
    width: 28.4rem;
  }
}
.card__txt-col {
  padding: 3.5rem 3.5rem 2.1rem 3.3rem;
}
@media screen and (min-width: 992px) {
  .card__txt-col {
    padding: 3.1rem 4rem 2.1rem 4.2rem;
  }
}
.card__headline {
  font-family: "Manrope", sans-serif;
  font-size: 1.64rem;
  font-weight: 700;
  line-height: 1.48;
  margin: 0 0 1.3rem;
}
@media screen and (min-width: 992px) {
  .card__headline {
    font-family: "Manrope", sans-serif;
    font-size: 2.05rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 1.2rem;
  }
}
.card__copy {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.062rem;
  line-height: 1.65;
  margin: 0 0 3.2rem;
}
@media screen and (min-width: 992px) {
  .card__copy {
    letter-spacing: 0.056rem;
    line-height: 1.67;
    margin: 0 0 1.9rem;
  }
}
.card__author-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}
.card__author-avatar-wrapper {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin-right: -4.4rem;
  overflow: hidden;
  width: 4rem;
}
@media screen and (min-width: 992px) {
  .card__author-avatar-wrapper {
    margin-right: -14.6rem;
  }
}
.card__author-avatar {
  display: block;
  height: auto;
  width: 100%;
}
.card__author-col {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
}
.card__author-name {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}
.card__date {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
}
.card__share-wrapper {
  align-items: center;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}
.card__share {
  display: block;
  height: auto;
  width: 1.35rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.page {
  background-color: #ccc;
  margin-top: 2rem;
}

.bordered {
  border: 0.1rem dotted black;
}
/* These breakpoints match with those of Bootstrap.*/
.card-wrapper {
  align-items: start;
  background-image: url("../design/mobile-design.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 7.4rem;
}
@media screen and (min-width: 992px) {
  .card-wrapper {
    background-image: url("../design/desktop-design.jpg");
    padding-top: 26rem;
  }
}